body {
  margin: 0px;
  margin-left: 50px;
  background-color: black;
  font-family: Helvetica Neue, Helvetica;
  color: white; }
  body a {
    color: orange;
    text-decoration: none; }
    body a:hover {
      color: yellow; }
	body p span {
		color: yellow;
	}
	body p span:hover {
		color: white;
		-webkit-transition: color 5s ease-out;
		-moz-transition: color 5s ease-out;
		transition: color 5s ease-out;
	}
	
  body .intro {
	position: relative;
    background: url("") no-repeat top right;
    width: 100%;
    margin: 0 0 0 auto;
    padding-left: 0px; }
    body .intro h1 {
      font-weight: normal;
      padding: 25px 0 0;
      margin: 0px;
      font-size: 130px; }
	body .intro h5 {
		font-weight: normal;
		margin: -20px 0px 20px 10px;
		font-style: italic;
	}
    body p {
      font-size: 17px;
      margin: 5px 0 10px 10px;
      padding: 0px; }
	body div {
		width: 75%;
	}
  #kallefig {
		position: fixed;		
		top: 0px;
		right: 70px;
    display: table;
		width: 1px;
		height: 93%;
  }
	#kalle {
		position: fixed;
		width: 25%;
		height: auto;
		top: 0px;
		right: 70px;
		z-index: -100;
	}
	figcaption {
		display: table-caption;
		caption-side: bottom;
		position: relative;
		white-space: nowrap;	
		font-weight: bold; 
		z-index: 100;
	}
	nav {
	width:100%;
	padding: 100px 60px 100px;
	height:4em;
	position:fixed;
	display:block;
	text-align:right;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
	overflow:hidden;
	z-index: 1000;
	opacity:0.9;
	}
	#top{margin-bottom:50vh;}
	body .content{
		display: inline-block;
	}
	#bike {
	}
	#camera_wrap_1 {
		width: 75%;
		height: auto;
	}
	#cube {
		margin-bottom: 50vh;
		}
	#cube > p {
		width: 75%;
	}
	#chess {
		margin-top: 50vh;
		float: left;
		text-align: left;
	}
	#chess > p {
		width: 75%;
	}
	#chessimg {
	}
	
	h2 {
		font-style: italic;
	}
	
	.portfolio-container {
		display: inline-grid;
		grid-template-columns: 25% 25% 25%;
		grid-template-rows: 50% 50%;
	}
	.portfolio-item img{
		width: 100%;
	}

@media (max-width:1300px){
	#kalle {
		width: 15%;
		height: auto;
		right: 0;
	}
	figcaption {
		display: none;
	}	
	body .content {
		width: 75%;
	}
}

@media (max-width:960px) {
	body .intro h1 {
		font-size: 75px;
		margin-left: 5px;
	}
	#kalle {
		width: 10%;
		height: auto;
		right: 0;
	}
	figcaption {
		display: none;
	}
	body .content {
		width: 75%;
	}
}
